<div id="layoutSidenav">
  <%= render 'shared/admin_sidebar' %>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Articles</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Articles</li>
        </ol>
        <button type="button" class="btn btn-outline-primary mb-3 "><i class="bi bi-pencil-square me-1"></i>New Article</button>
        <div class="card mb-4">
          <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
              <div class="dataTable-top">
                <div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div>
                <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div>
              </div>
              <div class="dataTable-container">
                <table id="datatablesSimple" class="dataTable-table">
                  <thead>
                    <tr>
                      <th data-sortable="" style="width: 4.7708%;"><a href="#" class="dataTable-sorter">Image</a></th>
                      <th data-sortable="" style="width: 25.2264%;"><a href="#" class="dataTable-sorter">Article Title</a></th>
                      <th data-sortable="" style="width: 10.3773%;"><a href="#" class="dataTable-sorter">Status</a></th>
                      <th data-sortable="" style="width: 10.3773%;"><a href="#" class="dataTable-sorter">Author</a></th>
                      <th data-sortable="" style="width: 12.97803%;"><a href="#" class="dataTable-sorter">Created_at</a></th>
                      <th data-sortable="" style="width: 12.97803%;"><a href="#" class="dataTable-sorter">Updated_at</a></th>
                      <th data-sortable="" style="width: 3.4613%;"><a href="#" class="dataTable-sorter">Comments</a></th>
                      <th data-sortable="" style="width: 25.4613%;"><a href="#" class="dataTable-sorter">Actions</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @articles.each do |article| %>
                      <tr>
                        <td><%= image_tag(article.image, class: "rounded", width: 40, height: 30) if article.image.attached? %></td>
                        <td><%= article.title %></td>
                        <td><span class="badge bg-primary"><%= article.status %></span></td>
                        <td><span><%= article.user.full_name %></span></td>
                        <td><%= article.created_at.strftime("%B %d, %Y %H:%M") %></td>
                        <td><%= article.updated_at.strftime("%B %d, %Y %H:%M") %></td>
                        <td><i class="bi bi-chat-left-dots me-2"></i><%= article.comments.size %></td>
                        <td class="text-center">
                          <a href="#!"><span class="badge bg-primary me-2">view</span></a>
                          <a href="#!"><span class="badge bg-info">edit</span></a>
                          <a href="#!"><span class="badge bg-danger ms-2">delete</span></a>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="dataTable-bottom">
                <div class="dataTable-info">Showing 1 to 10 of 57 entries</div>
                <nav class="dataTable-pagination">
                  <ul class="dataTable-pagination-list">
                    <li class="active"><a href="#" data-page="1">1</a></li>
                    <li class=""><a href="#" data-page="2">2</a></li>
                    <li class=""><a href="#" data-page="3">3</a></li>
                    <li class=""><a href="#" data-page="4">4</a></li>
                    <li class=""><a href="#" data-page="5">5</a></li>
                    <li class=""><a href="#" data-page="6">6</a></li>
                    <li class="pager"><a href="#" data-page="2">›</a></li>
                  </ul>
                </nav></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%= render 'shared/admin_footer' %>
  </div>
</div>
