 
 <style>
 .reply_com{
   display: none;
 }
 </style>
 
 
 <!-- Comment with nested comments-->
<div class="d-flex">
  <!-- Parent comment-->
  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/40x40/ced4da/6c757d.jpg" alt="pic" /></div>
  <div id="<%= dom_id(comment) %>" class="ms-2">
    <div class="fw-bold">Commenter Name</div>
    <%= comment.content %> <br>
    <button onclick="openBox()" class="btn-sm btn btn-primary postBtn">Reply</button>
    
    <div class="reply_com">
      <%= form_for [comment, Comment.new] do |f| %>
        <%= f.text_area :content, placeholder: "Add a Reply", class: "mb-1" %><br/>
        <%= f.submit "Reply", class: " btn btn-primary btn-sm mb-2"  %>
      <% end %>
    </div>

    <!-- Child comment 1-->
    <div class="mt-3">
      <%= render comment.comments.order(id: :desc) %>
    </div>
  </div>
</div>

<script>
  function openBox() {
        document.querySelector('.reply_com').style.display = 'block';
      }
</script>
