<% if request.path == root_path %>
  <header class="py-5 bg-light border-bottom mb-4 ">
    <div class="container ">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Welcome to Triple Cube!</h1>
        <p class="lead mb-0">The best open source application for ruby on rails blog startups</p>
      </div>
    </div>
  </header>
<% end %>
<!-- Page content-->
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured blog post-->
      <% @article.each do |article| %>
        <% if article.featured? %>
          <div class="card mb-4">
            <%= link_to article do %><%= image_tag(article.image, class: "card-img-top img-fluid" ) if article.image.attached? %><% end %>
            <div class="card-body">
              <div class="small text-muted"><i class="fa-thin fa-clock"></i> <%= article.created_at.strftime("%B %d,  %Y") %></div>
              <h2 class="card-title"><%= article.title %></h2>
              <p class="card-text"><%= article.content.to_plain_text.truncate(250) %></p>
              <%= link_to "Read more →", article, class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- Nested row for non-featured blog posts-->
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4 ">
              <%= link_to article do %><%= image_tag(article.image, class: "card-img-top img-fluid" ) if article.image.attached? %><% end %>
              <div class="card-body ">
                <div class="small text-muted"> <%= article.created_at.strftime("%B %d,  %Y") %></div>
                <h2 class="card-title h4"><%= article.title %></h2>
                <p class="card-text"><%= article.content.to_plain_text.truncate(100) %></p>
                <%= link_to "Read more →", article, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Pagination-->
      <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
          <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
          <li class="page-item"><a class="page-link" href="#!">2</a></li>
          <li class="page-item"><a class="page-link" href="#!">3</a></li>
          <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
          <li class="page-item"><a class="page-link" href="#!">15</a></li>
          <li class="page-item"><a class="page-link" href="#!">Older</a></li>
        </ul>
      </nav>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</div>
<h1>Articles</h1>
<%= link_to "New article", new_article_path %>
