<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><i class=" bi bi-boxes fs-5"></i> Triple Cube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if current_user %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if current_user.admin? || current_user.editor? %>
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
          <% end %>
          <li class="nav-item"><a class="nav-link <%= 'active' if request.path == articles_path %> "  href="/articles">Articles</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link " id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell text-white"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li class="">
                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" >
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small>Wed</small>
                  </div>
                  <div class="col-10 mb-1 small">Some placeholder content</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-capitalize" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hi, <%= current_user.username %>   <%= image_tag(current_user.avatar, class: "rounded-circle", width: 30, height: 30) if current_user.avatar.attached? %> </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">[ <%= current_user.role %> ]</a></li>
              <% if current_user.admin? || current_user.editor? %>
                <li><a class="dropdown-item" href="#"><i class="bi bi-speedometer2 me-1"></i> Dashboard</a></li>
              <% end %>
              <li><a class="dropdown-item" href="#"><i class="bi bi-heart me-1"></i>  Favourites</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-thin fa-bell me-1"></i>  Notifications</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-thin fa-id-badge me-1"></i> My Profile</a></li>
              <li><a class="dropdown-item" href="/account-settings"><i class="fa-thin fa-screwdriver-wrench me-1"></i> Settings</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/sign_out"><i class="fa-thin fa-arrow-right-from-bracket me-1"></i> Sign-out</a></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link <%= 'active' if request.path == articles_path %> "  href="/articles">Articles</a></li>
          <%# <li class="nav-item"><a class="nav-link" href="#">Home</a></li> %>
          <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class=""><a class="nav-link btn btn-outline-primary btn-sm me-2 mb-1" href="/login">Login</a></li>
          <li class=""><a class="nav-link btn btn-primary btn-sm" href="/sign_up">Sign Up</a></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
