<style>
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
</style>

<main class="form-signin text-center">
    <i class="mb-4 bi bi-boxes fs-1"></i>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "floatingInput", placeholder: "name@example.com", class: "form-control" %>
    <%= f.label :email, for: "floatingInput" %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
    <%= f.label :password, for: "floatingPassword" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary", data: {turbo: false} %>
  </div>
<% end %>

Don't have account? <%= render "devise/shared/links" %>

</main>